.jfx-dialog-overlay-pane {
	-fx-background-color: black; 
}

.dialog-trigger{
	-fx-background-color: black; 
	-fx-button-type:RAISED;
	-fx-font-size: 20.0px;
}

.jfx-dialog-layout {
	-fx-background-color: black; 
	-fx-padding: 24.0px 24.0px 16.0px 24.0px;
	-fx-text-fill: white;
}
.jfx-dialog-layout .header {
	-fx-background-color: black; 
	-fx-padding: 24.0px 24.0px 16.0px 24.0px;
	-fx-text-fill: white;
}
.jfx-layout-heading {
		-fx-background-color: black; 
	-fx-font-size: 20.0px;
	-fx-font-weight: BOLD;
	-fx-text-fill: white;
	-fx-alignment: center-left;
	-fx-padding: 5.0 0.0 5.0 0.0; 	
}
.jfx-layout-body .header {
		-fx-text-fill: white;
		-fx-background-color: black; 
	-fx-font-size: 20.0px;
	-fx-pref-width: 400.0px;
	-fx-wrap-text: true;
}
.jfx-layout-body .label {
		-fx-text-fill: white;
		-fx-background-color: black; 
	-fx-font-size: 20.0px;
	-fx-pref-width: 400.0px;
	-fx-wrap-text: true;
}

.jfx-layout-actions {
	-fx-padding: 10.0px 0.0 0.0 0.0 ;	
	-fx-alignment: center-right ;
}