#header-label{
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 30px;
    -fx-text-fill: WHITE;
}

/* LABEL TEXT BODY */
#info-text {
	-fx-text-fill: white;
	-fx-background-color: rgb(0, 0, 0, .4);
	-fx-padding: 5.0 5.0 5.0 5.0;
	-fx-font-size: 20.0px;
}
#about-text {
	-fx-text-fill: white;
	-fx-background-color: rgb(0, 0, 0, .7.5);
	-fx-padding: 2.0 3.0 2.0 3.0;
	-fx-font-size: 20.0px;
}
#disclaimer-text {
	-fx-text-fill: white;
	-fx-background-color: rgb(0, 0, 0, .4);
	-fx-padding: 2.0 3.0 2.0 3.0;
	-fx-font-size: 12.0px;
}
#summoner-label {
	-fx-text-fill: white;
	-fx-background-color: rgb(0, 0, 0, .7);
	-fx-padding: 2.0 5.0 2.0 5.0;
	-fx-font-size: 18.0px;
}


.jfx-dialog-overlay-pane {
	-fx-background-color: rgb(0, 0, 0, .5);
}

.dialog-trigger{
	-fx-background-color: rgb(0, 0, 0, .5);
	-fx-button-type:RAISED;
	-fx-font-size: 20.0px;
}
.jfx-dialog{}
.jfx-dialog-layout {
	-fx-padding: 5, 5, 5, 5;
	-fx-text-fill: white;
}
.jfx-dialog-layout .header {
	/*-fx-padding: 24.0px 24.0px 16.0px 24.0px;*/
	-fx-text-fill: white;
}
.jfx-layout-heading {
	-fx-font-size: 20.0px;
	-fx-font-weight: BOLD;
	-fx-text-fill: black;
	-fx-alignment: center;
	-fx-background-color: rgb(0, 0, 0, .7);
	
	/*-fx-padding: 5.0 0.0 5.0 0.0;*/ 	
}
.jfx-layout-body .header {
	-fx-text-fill: white;
	-fx-pref-width: 250;
	-fx-font-size: 20.0px;
	-fx-wrap-text: true;
}

/* LABEL TEXT BODY */
.jfx-layout-body .label {
	-fx-text-fill: white;
	-fx-background-color: rgb(0, 0, 0, .7);
	-fx-padding: 2.0 2.0 5.0 5.0;
	-fx-font-size: 20.0px;
	-fx-wrap-text: true;
}

.jfx-layout-body {
	-fx-wrap-text: true;
}

.jfx-layout-actions {
	-fx-padding: 0 0.0 0.0 0.0 ;	
	-fx-alignment: center ;
}